---
import YoutubeChannels from "@data/youtubeChannels.json";
import { fetchYouTubeVideos } from "@src/services/youtubeService";

const MAX_VIDEOS = 3;
const CHANNEL_ID = YoutubeChannels[0].split("channel/")[1];
const latestVideos = await fetchYouTubeVideos(CHANNEL_ID);
---

<script >
  // Slider
  const slider = function () {
    const slides = document.querySelectorAll(".slide");
    const btnLeft = document.querySelector(".slider__btn--left");
    const btnRight = document.querySelector(".slider__btn--right");
    const dotContainer = document.querySelector(".dots");

    let curSlide = 0;
    const maxSlide = slides.length;

    // Functions
    const createDots = function () {
      slides.forEach(function (_, i) {
        if (dotContainer) {
          dotContainer.insertAdjacentHTML(
            "beforeend",
            `<button class="dots__dot" data-slide="${i}"></button>`
          );
        }
      });
    };

    const activateDot = function (slide: number) {
      document
        .querySelectorAll(".dots__dot")
        .forEach((dot) => dot.classList.remove("dots__dot--active"));

      const activeDot = document.querySelector(`.dots__dot[data-slide="${slide}"]`);
      if (activeDot) {
        activeDot.classList.add("dots__dot--active");
      }
    };

    const goToSlide = function (slide: number) {
      slides.forEach(
        (s, i) => ((s as HTMLElement).style.transform = `translateX(${100 * (i - slide)}%)`)
      );
    };

    // Next slide
    const nextSlide = function () {
      if (curSlide === maxSlide - 1) {
        curSlide = 0;
      } else {
        curSlide++;
      }

      goToSlide(curSlide);
      activateDot(curSlide);
    };

    const prevSlide = function () {
      if (curSlide === 0) {
        curSlide = maxSlide - 1;
      } else {
        curSlide--;
      }
      goToSlide(curSlide);
      activateDot(curSlide);
    };

    const init = function () {
      goToSlide(0);
      createDots();

      activateDot(0);
    };
    init();

    // Event handlers
    if (btnRight) {
      btnRight.addEventListener("click", nextSlide);
    }
    btnLeft.addEventListener("click", prevSlide);

    document.addEventListener("keydown", function (e) {
      if (e.key === "ArrowLeft") prevSlide();
      e.key === "ArrowRight" && nextSlide();
    });

    dotContainer.addEventListener("click", function (e) {
      if (e.target.classList.contains("dots__dot")) {
        const { slide } = e.target.dataset;
        goToSlide(slide);
        activateDot(slide);
      }
    });
  };
  slider();
</script>

<div class="latest__video">
  <div class="slider">
    {
      latestVideos.slice(0, MAX_VIDEOS).map((video: any, index: number) => {
        const { link, title } = video;
        return (
          <div class={`slide slide--${index + 1}`}>
            <fast-youtube src={link} title={title} />
          </div>
          );
        })
      }
      <div class="dots"></div>
      <button class="slider__btn slider__btn--left">&#8249;</button>
      <button class="slider__btn slider__btn--right">&#8250;</button>
  </div>
</div>

<style is:global>
  .latest__video {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  /* SLIDER */
  .slider {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    position: relative;
    overflow: hidden;


    /* IN THE END */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;


    /* THIS creates the animation! */
    transition: transform 1s;
  }

  .slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(90, 8, 242, 0.759);
    font-family: inherit;
    color: aqua;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      height: 2.3rem;
      width: 2.3rem;
      font-size: 2.3rem;
      top: 30%;
    }
  }

  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 768px) {
      left: 9%;
      transform: translate(-50%, 30%);
    }
  }

  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
    @media screen and (max-width: 768px) {
      right: 9%;
      transform: translate(50%, 30%);

    }
  }

  .dots {
    position: absolute;
    top:96%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 768px) {
      top: 90%;
      gap: 0.7rem;
    }
  }

  .dots__dot {
    border: none;
    background-color: #00ff33;
    opacity: 0.7;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    @media screen and (max-width: 768px) {
      height: .6rem;
      width: .6rem;
    }
  }

  .dots__dot:last-child {
    margin: 0;
  }

  .dots__dot--active {
    /* background-color: #fff; */
    background-color: #3b088f;
    opacity: 1;
  }
</style>
