---
import { isAuthenticated } from "@src/shared/utils/auth";
import Layout from "./layout/Layout.astro";
const payload = await isAuthenticated(Astro.cookies);

if (!payload) {
  return Astro.redirect("/login");
}
---

<Layout title="Dashboard" description="Dashboard">
  <main>
    <div class="dashboard-grid">
      <h1>Dashboard</h1>
    </div>
  </main>
</Layout>

<style>
  .dashboard-grid {
    width: 100%;
  }
</style>
