@import "tailwindcss";

:root {
    --swiper-navigation-color: aqua;


    --white-color: #E8E7E7;
    --bg-color-default: var(--white-color);
    --text-color: #181818;
    --purple-color: #6A00FF;
    --dark-purple: #140030;
    --clock-font:  "DigitalNumbers-Regular", sans-serif;
    --card-bg: #ffffff;

    --color-celeste: rgba(0, 116, 174, 0.92);
}


@font-face {
    font-family: "DigitalNumbers-Regular";
    src: url("/fonts/DigitalNumbers-Regular.ttf") format("truetype");
}
.dark {
    --bg-color-default: #191b22;
    --text-color: #E8E7E7;
    --card-bg: #0c0c0c;
}

@theme {
    --color-primary: var(--bg-color-default);
    --color-color-text: var(--text-color);
    --color-btn: #F5F5F5;
    --color-caracol: var(--purple-color);
    --color-celeste: var(--color-celeste);
    --color-darkpurple: var(--dark-purple);
    --color-card: var(--card-bg);
    --drop-shadow-shadow-cards: 0px 2px 6.8px 0px rgba(0, 0, 0, 0.25);
}

html {
    @apply scroll-smooth *:box-content;
}

body {
    @apply font-sans bg-primary m-0 p-0 flex flex-col h-full items-center;
}




.text-gradient {
    background: var(--purple-color);
    background:  linear-gradient(90deg, #6A00FF 0%, rgba(0, 116, 174, 0.92) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
