@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    --swiper-navigation-color: rgb(68, 0, 255);
    --ufo-green: #33ff76;
    --white-color: #E8E7E7;
    --bg-color-default: var(--white-color);
    --text-color: #181818;
    --purple-color: #6A00FF;
    --soft-purple: #CA95FF;
    --dark-purple: #140030;
    --clock-font: "DigitalNumbers-Regular", sans-serif;
    --card-bg: #ffffff;
    --color-celeste: rgba(0, 116, 174, 0.92);
}

div.swiper-button-next svg, div.swiper-button-prev svg{
    background: black!important;
}

/* bg-gradient-to-t from-[#CA95FF] to-white */
@font-face {
    font-family: "DigitalNumbers-Regular";
    src: url("/fonts/DigitalNumbers-Regular.ttf") format("truetype");
}

.dark {
    --bg-color-default: #191b22;
    --text-color: #E8E7E7;
    --card-bg: #0c0c0c;
}

@theme  {
    --color-primary: var(--bg-color-default);
    --color-ufo: var(--ufo-green);
    --color-color-text: var(--text-color);
    --color-btn: #F5F5F5;
    --color-caracol: var(--purple-color);
    --color-softpurple: var(--soft-purple);
    --color-celeste: var(--color-celeste);
    --color-darkpurple: var(--dark-purple);
    --color-card: var(--card-bg);
    --drop-shadow-shadow-cards: 0px 2px 6.8px 0px rgba(0, 0, 0, 0.25);

}


body {
    font-family: sans-serif;
    background-color: var(--color-primary);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    max-width: 600px;
    box-shadow: 0px 2px 6.8px 0px rgba(0, 0, 0, 0.25);

    @media (min-width: 1280px) {

        max-width: 750px;

    }
}

.text-gradient {
    background: var(--purple-color);
    background: linear-gradient(90deg, #6A00FF 0%, rgba(0, 116, 174, 0.92) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}