---
import BaseHead from "@core/components/BaseHead.astro";
import ThemeButton from "@src/shared/components/ThemeButton.astro";

const { title, description } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<script>
  import { fastYoutube } from "@features/youtube/utils/youtube";
</script>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter slot="header" />
  </head>
  <body class="flex flex-col min-h-screen w-full">
    <ThemeButton class="fixed bottom-5 right-5" iconColor="#140030" />
    <div class="dashboard-grid">
      <div class="dashboad-sidebar">
        <header class="header flex items-start w-full justify-between relative">
          <a
            href="/"
            class="logo flex items-center justify-center overflow-hidden w-10 h-auto"
          >
            <img
              src="/img/favicon.png"
              alt="Panel de control"
              class="w-full h-full object-contain"
            />
          </a>
          <button
            id="toggle-sidebar"
            class="dashboard-button cursor-pointer flex items-center justify-center rounded-sm absolute -right-8 top-0 bg-violet-800/30 w-fit px-1"
          >
            <iconify-icon
              icon="fluent:panel-left-24-filled"
              width="30"
              height="30"
              style="color:var(--color-color-text); background-color:transparent; "
            ></iconify-icon>
          </button>
        </header>
        <nav>
          <slot name="sidebar" />
        </nav>
      </div>
      <main class="dashboard-main">
        <slot name="main" />
      </main>
    </div>
  </body>
</html>

<style is:inline>
  .dashboard-grid {
    --sidebar-width: 6rem;
    --sidebar-padding: 2rem 1rem;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar main "
      "sidebar main ";
    width: 100%;
    min-height: 100vh;
    transition: grid-template-columns 0.3s;
    overflow: hidden;
    &:has(> .dashboad-sidebar.active) {
      --sidebar-width: 250px;
      --sidebar-padding: 2rem;
    }
    @media (max-width: 768px) {
      --sidebar-width: 6rem;
      --sidebar-padding: 1rem;
      &.sidebar-open {
        --sidebar-width: 300px;
      }
    }
  }

  .dashboad-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-right: 1px solid var(--color-color-text) / 20;
    box-shadow: -1.4px 0px 5px 0px var(--color-color-text);
  }
  .dashboard-main {
    grid-area: main;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    margin-bottom: 2rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
  }
  .nav-link:hover {
    background-color: var(--primary-color);
    color: white;
  }
</style>

<script>
  const toggleSidebar = document.querySelector(
    "#toggle-sidebar",
  ) as HTMLElement;
  const sidebar = document.querySelector(".dashboad-sidebar") as HTMLElement;

  let userPreferences = { active: false };
  const storedPreferences = localStorage.getItem("dashboard-preferences");

  if (storedPreferences) {
    userPreferences = JSON.parse(storedPreferences);
    if (userPreferences.active) {
      sidebar.classList.add("active");
      toggleSidebar.classList.add("active");
    }
  }

  toggleSidebar.addEventListener("click", (e) => {
    e.preventDefault();
    userPreferences.active = !userPreferences.active;

    sidebar.classList.toggle("active", userPreferences.active);
    toggleSidebar.classList.toggle("active", userPreferences.active);

    localStorage.setItem(
      "dashboard-preferences",
      JSON.stringify(userPreferences),
    );
  });
</script>
