---
import BaseHead from "@core/components/BaseHead.astro";
import ThemeButton from "@src/shared/components/ThemeButton.astro";

const { title, description } = Astro.props;
---

<script>
    import { fastYoutube } from "@features/youtube/utils/youtube";
</script>
<html lang="es">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="flex flex-col min-h-screen w-full">
        <ThemeButton class="fixed bottom-5 right-5" />
        <slot />
    </body>
</html>
