---
const linksAfiliadosf = [
  {
    title: "Hostinger",
    href: "https://hostinger.mx?REFERRALCODE=sofidev",
    icon: "simple-icons:hostinger",
    color: "#fffff1",
    description: "Obtén 20% de descuento en Hostinger",
  },
  {
    title: "Platzi",
    href: "https://platzi.com/r/SofiDev",
    icon: "simple-icons:platzi",
    color: "#14e632",
    description: "Un mes adicional en tu plan anual Expert",
  }
];
---

<section class="flex flex-col items-center justify-center w-full">
  <ul class="flex flex-col gap-4 w-full">
    {
      linksAfiliadosf.map((link) => (
        <li class="w-full">
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="flex items-center gap-2  text-white bg-caracol px-5  py-6 w-full rounded-md hover:bg-indigo-700"
          >
            <iconify-icon class="text-3xl" icon={link.icon}  style={`color: ${link.color}`} />
            {link.description}
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style></style>
