---
import Layout from "@layouts/Layout.astro";
import SocialIcons from "@src/components/atoms/SocialIcons.astro";
import BentoMain from "@organisms/BentoMain.astro";
import SupportBento from "@organisms/SupportBento.astro";
import Header from "@src/components/organisms/Header.astro";
import userData from "@data/user.json";
import BlogPost from "@src/components/molecules/BlogPost/BlogPost";
import Title from "@src/components/atoms/Title.astro";
import SwiperComponent from "@molecules/SwiperComponent/SwiperComponent.astro";
import Afiliados from "@src/components/molecules/afiliados/Afiliados.astro";
import FetchYt from "@src/components/molecules/fetch-yt/FetchYt.astro";
import Footer from "@src/components/organisms/footer/Footer.astro";
const YoutubeChannel =
  "https://www.youtube.com/channel/UC36_js-krsAHAEAWpEDhHtw".split(
    "channel/",
  )[1];
console.log(YoutubeChannel);

const prerender = true;
---

<Layout
  title="Hola Raccoones ! 🦝"
  description="¡Bienvenidos a mi espacio en la web! Soy Sofi, una desarrolladora apasionada por la tecnología y el código. Aquí encontrarás enlaces a mis proyectos, redes sociales y recursos favoritos. ¡Explora y conéctate conmigo!"
>
  <Header userData={userData} />
  <main
    class="flex flex-col justify-center items-center w-full mt-16 md:mt-20 space-y-6 pb-10 h-full px-4 gap-[.8rem] shadow-none border-0"
  >
    <p class="text-color-text text-sm">
      ¡ Bienvenidos a mi espacio en la web! Soy Sofi, una desarrolladora
      apasionada por la tecnología y el código. Aquí encontrarás enlaces a mis
      proyectos, redes sociales y recursos favoritos. ¡Explora y conéctate
      conmigo!
    </p>
    <SocialIcons />
    <!-- Num of social links 👇🏻 by default it show all -->
    <BentoMain userData={userData} />
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <ins
      class="adsbygoogle"
      style="display:block; text-align:center;"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="9333003725"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <BlogPost />
    <SupportBento />
    <Afiliados />
    <SwiperComponent server:defer CHANNEL_ID={YoutubeChannel} />
    <FetchYt />
  </main>
  <script
    is:inline
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
    crossorigin="anonymous"></script>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-format="fluid"
    data-ad-layout-key="-fb+5w+4e-db+86"
    data-ad-client="ca-pub-3828278469742835"
    data-ad-slot="4092852581"></ins>
  <script is:inline>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <Footer />
</Layout>
