---
import Layout from "@layouts/Layout.astro";
import SocialIcons from "@features/social/components/SocialIcons.astro";
import BentoMain from "@core/components/BentoMain.astro";
import SupportBento from "@features/sponsors/components/SupportBento.astro";
import Header from "@core/components/Header.astro";
import userData from "@data/user.json";
import BlogPost from "@features/blog/components/BlogPost/BlogPost";
import Title from "@shared/components/Title.astro";
import SwiperComponent from "@features/youtube/components/SwiperComponent/SwiperComponent.astro";
import Afiliados from "@features/products/components/afiliados/Afiliados.astro";
import FetchYt from "@features/youtube/components/fetch-yt/FetchYt.astro";
import Footer from "@core/components/footer/Footer.astro";
const YoutubeChannel =
  "https://www.youtube.com/channel/UC36_js-krsAHAEAWpEDhHtw".split(
    "channel/",
  )[1];
// console.log(YoutubeChannel);

export const prerender = true;
---

<Layout
  title="Hola Raccoones ! 🦝"
  description="¡Bienvenidos a mi espacio en la web! Soy Sofi, una desarrolladora apasionada por la tecnología y el código. Aquí encontrarás enlaces a mis proyectos, redes sociales y recursos favoritos. ¡Explora y conéctate conmigo!"
>
  <a
    id="dashboard-btn"
    class="absolute right-5 z-100 text-ufo px-3 py-2 rounded-sm bg-violet-800 top-2 text-md hidden"
    href="/dashboard"
  >
    Dashboard
  </a>
  <Header userData={userData} />
  <main
    class="main-container flex flex-col justify-center items-center w-full mt-16 md:mt-20 space-y-6 pb-10 h-full px-4 gap-[.8rem] shadow-none border-0"
  >
    <p class="text-color-text text-sm">
      ¡ Bienvenidos a mi espacio en la web! Soy Sofi, una desarrolladora
      apasionada por la tecnología y el código. Aquí encontrarás enlaces a mis
      proyectos, redes sociales y recursos favoritos. ¡Explora y conéctate
      conmigo!
    </p>
    <SocialIcons />

    <BentoMain userData={userData} />
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="fluid"
      data-ad-layout-key="-fb+5w+4e-db+86"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="3206495952"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <BlogPost />
    <SwiperComponent CHANNEL_ID={YoutubeChannel} />
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="fluid"
      data-ad-layout-key="-fb+5w+4e-db+86"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="3206495952"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <SupportBento />
    <Afiliados />
    <FetchYt />
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
      crossorigin="anonymous"></script>
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="fluid"
      data-ad-layout-key="-fb+5w+4e-db+86"
      data-ad-client="ca-pub-3828278469742835"
      data-ad-slot="3206495952"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </main>

  <Footer />
</Layout>

<script>
  fetch("/api/auth/verify")
    .then((res) => res.json())
    .then((data) => {
      if (data && data.authenticated) {
        const btn = document.getElementById("dashboard-btn");
        if (btn) {
          btn.classList.remove("hidden");
        }
      }
    })
    .catch((err) => console.error("Error verifying auth:", err));
</script>
