---
import ThemeButton from "@src/components/atoms/ThemeButton.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout title="Lives">
  <main>
    <ThemeButton  positionStyle="fixed top-4 right-4"/>
    <h1 class="text-gradient font-bold text-3xl">Lives</h1>

  </main>
</Layout>
