---
import Layout from "@src/layouts/Layout.astro";
import Avatar from "@shared/components/Avatar.astro";
import ArrowLink from "@features/social/components/ArrowLink.astro";
import userData from "@data/user.json";
import LiveCard from "@features/lives/components/LiveCard.astro";
import { isLive } from "@features/lives/utils/IsLive";
const { isLiveBroadcast } = await isLive();

export const prerender = true;
---

<Layout title="Lives">
  <main class="relative">
    <ArrowLink
      link="/"
      direction="left"
      transition="home"
      class="absolute top-4 left-10"
      ariaLabel="Back to home"
    />
    <Avatar
      transition="about"
      hasName={false}
      name={userData.name}
      profile__pic={userData.profilePic}
    />
    <section class="flex flex-col items-center px-2">
      <LiveCard isLiveBroadcast={isLiveBroadcast} />
    </section>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
</style>
