---
import ArrowLink from "./ArrowLink.astro";
import ThemeButton from "./ThemeButton.astro";

const { profile__pic, name, hasName = true, transition, animate} = Astro.props;
const pathname =  Astro.url.pathname;

console.log('current url', pathname);
---

<article
  class={`flex items-center z-[500]  px-3 ${hasName && "absolute top-3/5 xl:top-3/4 left-0 xl:left-[0]"} `}
>
  <div class="relative z-50">
    <div
    transition:animate={animate}
    transition:name={transition}
      class={`profile__container  lg:w-[150px] lg:h-[150px] w-[120px] h-[120px] rounded-full overflow-hidden bg-[--bg-main-color] ${pathname === '/about' ? 'profile__container-about' : 'profile__container'}  `}
    >
      <img
        id="avatar"
        class="w-full object-cover h-full avatar"
        src={profile__pic}
        alt="Profile image"
      />
    </div>
    <ThemeButton position="left-[60%] top-[70%]" />
  </div>
  {
    hasName && (
      <ArrowLink
        class="bg-btn h-10 p-1 rounded-r-lg translate-x-[-.2rem] relative flex items-center text-2xl  gap-[.3rem] w-full"
        link="/about"
        direction="right"

      >
        <p slot="arrow-content" class="text-gradient font-bold text-[1.1rem] ">
          {name}{" "}
        </p>
      </ArrowLink>
    )
  }
</article>

<style>
  .profile__container{
    --color-ring: rgb(var(--bg-main-color ));
    border: 3.5px solid var( --purple-color);
    border: 3.5px solid var(--color-ring);
    filter:saturate(2)
  }
  .profile__container-about{
    border: 3.5px solid var( --purple-color);
    filter:saturate(2)
  }
  .avatar{
    filter:saturate(.5);
  }
</style>