---
import ArrowLink from "./ArrowLink.astro";
import ThemeButton from "./ThemeButton.astro";

const { profile__pic, name, hasName = true, transition, animate} = Astro.props;
---

<article
  class={`flex items-center  px-2 ${hasName && "absolute top-3/5  left-0"}`}
>
  <div class="relative z-1">
    <div
    transition:animate={animate}
    transition:name={transition}
      class="profile__container border-3 border-caracol w-[100px] h-[100px] rounded-full overflow-hidden"
    >
      <img

        class="w-full object-cover h-full"
        src={profile__pic}
        alt="Profile image"
      />
    </div>
    <ThemeButton position="left-[60%] top-[60%]" />
  </div>
  {
    hasName && (
      <ArrowLink
        class="bg-btn p-1 rounded-r-lg translate-x-[-.2rem] relative flex items-center   gap-[.3rem] w-full"
        link="/about"
        direction="right"
        transition="about"
      >
        <p slot="arrow-content" class="text-gradient font-bold text-[1rem] ">
          {name}{" "}
        </p>
      </ArrowLink>
    )
  }
</article>
