---
import Support from "@data/support.json";
import IconKofi from "../atoms/icons/IconKofi.astro";
const {url, title} = Support.kofi;
---

<a href={url} target="_blank" class="w-full h-full flex flex-col items-center justify-center p-2 bg-gradient-to-t from-[#CA95FF] to-white border-[1.8px] border-[#D6ACFF] shadow-[0_1px_6.7px_0] rounded-lg text-balance">
    <h3 class="text-text font-bold text-sm text-center">{title}</h3>
    <IconKofi class="w-30 h-30 mt-2" />
</a>