---
import LiveStatus from "@atoms/LiveStatus/LiveStatus";
import { isLive } from "@src/utils/IsLive";
const { isLiveBroadcast } = await isLive();
const { twitchLink } = Astro.props;
---

<a
  href="/lives"
  class="w-full h-full max-h-[128px] flex flex-col items-center justify-center gap-2 relative bg-linear-to-b from-caracol to-darkpurple rounded-[14px]"
>
  <LiveStatus className={"absolute top-2 left-[85%]"} {isLiveBroadcast} client:load/>
  <div class="flex items-center gap-2 flex-wrap justify-center">
    <iconify-icon
      icon="akar-icons:twitch-fill"
      width="24"
      height="24"
      style="color: #fff"></iconify-icon>
    <iconify-icon
      icon="entypo-social:youtube"
      width="24"
      height="24"
      style="color: #fff"></iconify-icon>
    {
      isLiveBroadcast ? (
        <h3 class="text-white font-bold text-lg  text-balance">
      LIVE
        </h3>
      ) : (
        <h3 class="text-white font-bold text-lg text-balance">View Platforms </h3>
      )
    }
  </div>
</a>
