---
import Clock from "@src/components/atoms/Clock/Clock.tsx";
import ProductCarousel from "@src/components/molecules/ProductCarousel/ProductCarousel.astro";
import TwichCard from "../molecules/TwichCard.astro";
import CardSkeleton from "@molecules/CardSkeleton.astro";
import CardBento from "../atoms/CardBento/CardBento.astro";
const { userData } = Astro.props;

---

<section class="bento__grid">
  <div class="bento__item bento__item-1">
    <Clock client:load />
  </div>
  <div class="bento__item bento__item-2">
    <TwichCard twitchLink={userData.twitch} server:defer>
      <CardSkeleton slot="fallback" server:defer />
    </TwichCard>
  </div>
  <div class="bento__item bento__item-3 overflow-hidden">
    <CardBento
      title="Portfolio"
      link={userData.portfolio}
      texto="Ver mis proyectos"
      bgImage="/img/portfolio.png"
      icon="heroicons:wallet-16-solid"
      left={true}
    />
  </div>
  <div class="bento__item bento__item-5 overflow-hidden">
    <CardBento
      title="Discord"
      link={userData.discord}
      texto="Únete en el servidor"
      bgImage="/img/banner-2.webp"
      icon="ic:outline-discord"
    />
  </div>
  <div class="bento__item bento__item-4">
    <ProductCarousel />
  </div>
</section>

<style is:global>
  .bento__grid {
    width: 100%;
    display: grid;
    grid-template-areas:
      "clock clock twicht twicht twicht"
      "portfolio portfolio portfolio portfolio portfolio"
      "portfolio portfolio portfolio portfolio portfolio"
      "discord discord  discord product product   "
      "discord discord  discord product product   "
      "discord discord  discord product product   ";
    gap: 10px;
    row-gap: 12px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 0.8rem;
  }

  .bento__item:not(.bento__item-4) {
    min-height: 8rem;
    max-height: 268px;
    border-radius: 12px;
    box-shadow: 0px 0px 6.8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    @media screen and (max-width: 768px) {
      min-height: 6rem;
      max-height: 268px;
    }
  }

  .bento__item-1 {
    grid-area: clock;
  }
  .bento__item-2 {
    grid-area: twicht;
  }
  .bento__item-3 {
    grid-area: portfolio;
  }
  .bento__item-4 {
    grid-area: product;

  }
  .bento__item-5 {
    grid-area: discord;
  }
</style>
