.dateTime {
    font-size: clamp(1rem, 2vw, 3rem);
    color: var(--purple-color);
    font-weight: 700;
    font-family: var(--clock-font);
}
.dark{
    .dateTime{
        color:aqua;
    }
}
.colon {
    margin-top: 6px;
    font-size: 1.5rem;
}
