---
import BaseHead from "@components/BaseHead.astro";

const {title, description} = Astro.props;
---
<script>
  import { fastYoutube } from "@src/utils/youtube"
</script>
<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead  title={title} description={description} />
  </head>
  <body class="flex flex-col min-h-screen ">
      <slot />
  </body>
</html>
